<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crmdemo.dao.CitiesDao">
    <select id="selectCitiesListByProvinceid" resultType="Cities">
        select * from cities where 1=1
        <if test="provinceid !=null">
            and provinceid=#{provinceid}
        </if>
    </select>

    <select id="selectCitiesByid" resultType="Cities">
        select  * from  cities where cityid=#{cityid}
    </select>
</mapper>