<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crmdemo.dao.CrmcustomerdetailsDao">
    <resultMap id="crmcustomerdetailsVop" type="com.crmdemo.vop.CrmcustomerdetailsVop">
        <id column="id" property="id"/>
        <association property="crminfo" javaType="com.crmdemo.entity.Crminfo">
            <id column="userId" property="userId"/>
        </association>
        <association property="crmcustomersinfo" javaType="com.crmdemo.entity.Crmcustomersinfo">
            <id column="c_id" property="id"/>
        </association>
    </resultMap>
    <insert id="insertCrmcustomerdetails">
        insert into crmcustomerdetails
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="crmcustomersinfoId != null">
                crmcustomersinfoId,
            </if>
            <if test="chatrecord != null">
                chatrecord,
            </if>
            <if test="customername != null">
                customername,
            </if>
            <if test="followupId != null">
                followupId,
            </if>
            <if test="followupStatus != null">
                followupStatus,
            </if>
            <if test="followupTime != null">
                followupTime,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="followMethod != null">
                followMethod,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="crmcustomersinfoId != null">
                #{crmcustomersinfoId},
            </if>
            <if test="chatrecord != null">
                #{chatrecord},
            </if>
            <if test="customername != null">
                #{customername},
            </if>
            <if test="followupId != null">
                #{followupId},
            </if>
            <if test="followupStatus != null">
                #{followupStatus},
            </if>
            <if test="followupTime != null">
                #{followupTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="remarks != null">
                #{remarks},
            </if>
            <if test="followMethod != null">
                #{followMethod},
            </if>
        </trim>
    </insert>
    <select id="selectcrmcustomerdetailsVopList" resultMap="crmcustomerdetailsVop">
        SELECT * FROM `crmcustomerdetails` INNER JOIN `crminfo` ON `crmcustomerdetails`.`followupID`=`crminfo`.`UserId`
WHERE `crminfo`.`userArrangement` LIKE '%${userArrangement}%'
and `crmcustomerdetails`.`crmcustomersinfoID`= #{userId}
    </select>
    <select id="selectcrmcustomerdetailsVopListByUser" resultMap="crmcustomerdetailsVop">
        SELECT `crmcustomerdetails`.*,`crmcustomersinfo`.`id` AS c_id,`crmcustomersinfo`.`customersName` FROM
        crmcustomerdetails inner join crmcustomersinfo on
        `crmcustomerdetails`.`crmcustomersinfoID`=`crmcustomersinfo`.id
        WHERE 1=1
        <if test="followupId !=null">
            and `crmcustomerdetails`.`followupId`= #{followupId}
        </if>
        ORDER BY `crmcustomerdetails`.`followupTime` DESC
    </select>
    <select id="selectcrmcustomerByUserCount" resultType="Crmcustomerdetails">
        SELECT DATE(`crmcustomerdetails`.`followupTime`) as remarks,COUNT(1) as crmcustomersinfoId FROM `crmcustomerdetails` INNER JOIN crminfo ON
        crminfo.`UserId`=`crmcustomerdetails`.`followupID` where 1=1
        <if test="followupId !=null">
           and followupId = #{followupId}
        </if>
        <if test="crminfo !=null">
            <if test="crminfo.userArrangement !=null and crminfo.userArrangement !=''">
               and  crminfo.userArrangement like '%${userArrangement}%' and followupId =#{crmcustomersinfoID}
            </if>
        </if>
        GROUP BY DATE(`crmcustomerdetails`.`followupTime`) ORDER BY `crmcustomerdetails`.`followupTime` DESC
    </select>
</mapper>