<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crmdemo.dao.CrmcustomersinfoDao">
    <select id="selectcrmcustomersinfo" resultType="Crmcustomersinfo">
      SELECT   (@i:=@i+1)   AS   i,c.*   FROM   crmcustomersinfo c,(SELECT   @i:=0)   AS   it WHERE `deleteStatus`=0
    </select>
</mapper>