<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crmdemo.dao.CrmcustomerdetailsDao">
    <insert id="insertCrmcustomerdetails">
        insert into crmcustomerdetails
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="crmcustomersinfoId != null">
                crmcustomersinfoId,
            </if>
            <if test="chatrecord != null">
                chatrecord,
            </if>
            <if test="customername != null">
                customername,
            </if>
            <if test="followupId != null">
                followupId,
            </if>
            <if test="followupStatus != null">
                followupStatus,
            </if>
            <if test="followupTime != null">
                followupTime,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="followMethod != null">
                followMethod,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="crmcustomersinfoId != null">
                #{crmcustomersinfoId},
            </if>
            <if test="chatrecord != null">
                #{chatrecord},
            </if>
            <if test="customername != null">
                #{customername},
            </if>
            <if test="followupId != null">
                #{followupId},
            </if>
            <if test="followupStatus != null">
                #{followupStatus},
            </if>
            <if test="followupTime != null">
                #{followupTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="remarks != null">
                #{remarks},
            </if>
            <if test="followMethod != null">
                #{followMethod},
            </if>
        </trim>
    </insert>
</mapper>