<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crmdemo.dao.CrminfoDao">
    <resultMap id="crminfos" type="Crminfo">
        <id property="userId" column="userId"/>
        <result property="roleName" column="RoleName"/>
    </resultMap>
    <select id="selectcrmByName" resultType="Crminfo">
        select * from crminfo where isavailable=0
        <if test="userName !=null">
            and crminfo.UserName=#{userName}
        </if>
    </select>
    <select id="selectCrminfoById" resultType="Crminfo">
        select * from crminfo where UserId=#{userId}
    </select>
    <select id="selectCrminfoList" resultType="Crminfo">
        select * from crminfo where isavailable=0
        <if test="roleId !=null">
            and roleId=#{roleId}
        </if>
        <if test="userArrangement !=null">
            and userArrangement like '%${userArrangement}%'
        </if>
    </select>
    <select id="selectCrminfoCount" resultType="java.lang.Integer">
        select Count(1) from crminfo where isavailable=0
        <if test="userName !=null">
            and userName=#{userName}
        </if>
    </select>
    <select id="selectMaxId" resultType="java.lang.Integer">
        select max(userId) from crminfo
    </select>
    <insert id="insertCrminfo">
        insert into crminfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="passWord != null and passWord != ''">
                passWord,
            </if>
            <if test="roleId != null">
                roleId,
            </if>
            <if test="englishName != null and englishName != ''">
                englishName,
            </if>
            <if test="chineseName != null and chineseName != ''">
                chineseName,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="userArrangement != null">
                userArrangement,
            </if>
            <if test="isavailable != null">
                isavailable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="passWord != null ">
                #{passWord},
            </if>
            <if test="roleId != null ">
                #{roleId},
            </if>
            <if test="englishName != null ">
                #{englishName},
            </if>
            <if test="chineseName != null ">
                #{chineseName},
            </if>
            <if test="createTime != null ">
                #{createTime},
            </if>
            <if test="updateTime != null ">
                #{updateTime},
            </if>
            <if test="userArrangement != null ">
                #{userArrangement},
            </if>
            <if test="isavailable != null ">
                #{isavailable},
            </if>
        </trim>
    </insert>
    <update id="updateCrminfo">
            update crminfo
            <set>
                <if test="userName != null">
                    userName =
                    #{userName},
                </if>
                <if test="passWord != null">
                    passWord =
                    #{passWord},
                </if>
                <if test="roleId != null">
                    roleId =
                    #{roleId},
                </if>
                <if test="chineseName != null">
                    chineseName =
                    #{chineseName},
                </if>
                <if test="userArrangement != null">
                    userArrangement =
                    #{userArrangement},
                </if>
                <if test="isavailable != null">
                    isavailable =
                    #{isavailable},
                </if>
            </set>
            where userid = #{userId}
    </update>
    <select id="selectCrminfoByUser" resultMap="crminfos">
        select crminfo.*,crmrole.RoleName from crminfo inner join crmrole on crminfo.RoleId=crmrole.RoleId where 1=1
        <if test="userArrangement !=null">
           and  userArrangement like '%${userArrangement}%' and userArrangement != #{userArrangement}
        </if>
    </select>
</mapper>