<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crmdemo.dao.OpenserviceDao">

    <!--查询服务-->
    <select id="OPENSERVICE" resultType="Openservice">
        SELECT * FROM `openservice`
        WHERE 1=1
        <if test="crmcustomersinfoid !='' and crmcustomersinfoid !=null">
            and `crmcustomersinfoid` =#{crmcustomersinfoid}
        </if>
    </select>

    <!--客户新增服务-->
    <insert id="insertOpenservice" parameterType="Openservice">
        INSERT INTO `openservice` (
     `UserId`,`isopen`, `crmcustomersinfoid`,
     `openserviceTypeid`,
     `CreateDate`
     )
VALUES
  (
   #{userId},
    #{isopen},
    #{crmcustomersinfoid},
   #{openserviceTypeid},
   #{createDate}
  ) ;
    </insert>
    <!--删除服务-->
    <delete id="deleteOpenservice" >
        DELETE FROM `openservice` WHERE 1=1
        <if test="crmcustomersinfoid !=null and crmcustomersinfoid !=''">
          and  `crmcustomersinfoid` = #{crmcustomersinfoid} ;
        </if>

    </delete>
    <!--查询已开通服务的客户-->
    <select id="selectALlOpen" resultType="com.crmdemo.vop.Openservicevop">
        SELECT (@i:=@i+1) AS i,j.*,u.`name` as cuname FROM (SELECT o.*,GROUP_CONCAT(p.`Name`) AS
        openserviceTypeall,c.`customersName`
        FROM (SELECT @i:=0) AS it , `openservice` o,`crmcustomersinfo` c,`crmproductservice` p
        WHERE o.`DeleteStatus`=0 AND o.`crmcustomersinfoid`=c.`customersId` AND
        p.`CRMProductServiceId`=o.`openserviceTypeid`
        <if test="fen == 'yi'">
            AND o.`customerservice`  IN (SELECT `id` FROM `customerservice`)
        </if>
        <if test="fen == 'wei'">
            AND o.`customerservice`  NOT IN (SELECT id FROM `customerservice`)
        </if>
        GROUP BY `crmcustomersinfoid`) j
        LEFT JOIN `customerservice` u ON j.`customerservice`=u.`id`
    </select>

    <!--为客户添加服务人员-->
    <update id="updateOpenservice">
        UPDATE `openservice`
        <set>
            `customerservice` = #{customerservice}
        </set>
        WHERE `crmcustomersinfoid` =#{id};
    </update>

</mapper>